# กำหนด folder ที่เก็บไฟล์ Compile (ไฟล์ที่ Build เสร็จแล้ว) ไม่ให้รก Git
/target/

# ไฟล์ Backup ที่ Rust สร้างขึ้นให้ตอนทำ Rustfmt (ถ้ามี)
**/*.rs.bk

# -------------------------------------------------------------
# OS หรือ IDE เฉพาะของแต่ละเครื่อง
# -------------------------------------------------------------
.vscode/
.idea/
*.iml
.DS_Store
*.swp
*.swo

# หมายเหตุเพิ่มเติมสำหรับ Golang developer:
# ปกติถ้าเราเขียน Go เราจะคอมมิต go.sum ขี้นไปด้วยเสมอ
# ใน Rust จะมีไฟล์ที่ชื่อว่า Cargo.lock ทำหน้าที่ล็อคเวอร์ชันคล้ายกัน
# กฎคือ: "ถ้าเป็น Project Application (Bin) ควรคอมมิต Cargo.lock ขึ้น Git"
# "แต่ถ้าเป็น Library (Lib) ที่ให้คนอื่นเอาไปใช้ ไม่ต้องคอมมิตขึ้นไป (Ignore มันไปเลย)"
# 
# ใน Repository ของเราเป็น Application เพราะงั้นเรา "ไม่" เขียน Cargo.lock ในนี้นะครับ
